n8n-workflow-zohosign-create-event.json
{
  "name": "Normandie Etancheite - Zoho Sign - Create Event",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "zoho-sign-completed",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567891",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "a1b2c3d4-e5f6-7890-abcd-ef1234567891"
    },
    {
      "parameters": {
        "jsCode": "// Zoho Sign envoie un event avec les details du document signe\n// On extrait le request_id pour aller chercher les details (y compris les notes)\nconst body = $json.body || $json;\nconst requestId = body.request_id || body.data?.request_id;\nif (!requestId) {\n  throw new Error('request_id not found in webhook body');\n}\nreturn [{ json: { requestId, event: body } }];"
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678902",
      "name": "Extract Request ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://sign.zoho.eu/api/v1/requests/{{ $json.requestId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": {}
      },
      "id": "c3d4e5f6-a7b8-9012-cdef-123456789013",
      "name": "Zoho Sign - Fetch Document",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "jsCode": "// Parse les notes au format pipe-separated :\n// start_datetime|end_datetime|prenom|nom|telephone|email|adresse|surface_m2|type_toiture|devis_total_ttc|devis_numero\nconst resp = $json;\nconst reqObj = resp.requests || {};\nconst notes = reqObj.notes || '';\nconst parts = notes.split('|');\n\nconst parsed = {\n  start_datetime: (parts[0] || '').trim(),\n  end_datetime: (parts[1] || '').trim(),\n  prenom: (parts[2] || '').trim(),\n  nom: (parts[3] || '').trim(),\n  telephone: (parts[4] || '').trim(),\n  email: (parts[5] || '').trim(),\n  adresse: (parts[6] || '').trim(),\n  surface_m2: (parts[7] || '').trim(),\n  type_toiture: (parts[8] || '').trim(),\n  devis_total_ttc: (parts[9] || '').trim(),\n  devis_numero: (parts[10] || '').trim(),\n};\n\nreturn [{ json: parsed }];"
      },
      "id": "d4e5f6a7-b8c9-0123-defa-234567890124",
      "name": "Parse Notes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [910, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://calendar.zoho.eu/api/v1/calendars/ed109954ae4442f99c8f9b47862b622c/events",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "contentType": "application/json",
        "body": "={\n  \"event\": {\n    \"title\": \"Devis - {{ $json.devis_numero }}-{{ $json.prenom }} {{ $json.nom }}\",\n    \"starttime\": \"{{ $json.start_datetime }}\",\n    \"endtime\": \"{{ $json.end_datetime }}\",\n    \"location\": \"{{ $json.adresse }}\",\n    \"description\": \"Client: {{ $json.prenom }} {{ $json.nom }}\\\\nTél: {{ $json.telephone }}\\\\nEmail: {{ $json.email }}\\\\nSurface: {{ $json.surface_m2 }} m²\\\\nType: {{ $json.type_toiture }}\\\\nDevis: {{ $json.devis_total_ttc }} €\",\n    \"attendees\": [\n      {\n        \"email\": \"{{ $json.email }}\"\n      }\n    ],\n    \"reminder\": {\n      \"alarm\": \"email\",\n      \"minutes\": \"15\"\n    }\n  }\n}",
        "options": {}
      },
      "id": "e5f6a7b8-c9d0-1234-efab-345678901235",
      "name": "Zoho Calendar - Create Event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1130, 300]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { success: true, eventCreated: true } }];"
      },
      "id": "f6a7b8c9-d0e1-2345-fabc-456789012346",
      "name": "Respond",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1350, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Extract Request ID", "type": "main", "index": 0 }]]
    },
    "Extract Request ID": {
      "main": [[{ "node": "Zoho Sign - Fetch Document", "type": "main", "index": 0 }]]
    },
    "Zoho Sign - Fetch Document": {
      "main": [[{ "node": "Parse Notes", "type": "main", "index": 0 }]]
    },
    "Parse Notes": {
      "main": [[{ "node": "Zoho Calendar - Create Event", "type": "main", "index": 0 }]]
    },
    "Zoho Calendar - Create Event": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
