n8n-workflow-zohosign.json
{
  "name": "Normandie Etancheite - Zoho Sign",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "zoho-sign-create",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Webhook - Create Sign Request",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://sign.zoho.eu/api/v1/requests",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "data",
              "value": "={{ JSON.stringify({ requests: { request_name: \"Devis \" + $json.body.devis_numero, actions: [{ action_type: \"SIGN\", recipient_name: $json.body.prenom + \" \" + $json.body.nom, recipient_email: $json.body.email, signing_order: 1, is_embedded: 1, redirect_url: \"https://ahmedoooooooooooo.github.io/Normandie-etancheite/devis/signe\", fields: { date_signed: [{ field_label: \"Signature\", field_type_name: \"Signature\", is_mandatory: 1, location: { page_no: 1, x_coord: 60, y_coord: 680, abs_width: 200, abs_height: 50 } }] } }], notes: \"Devis \" + $json.body.devis_numero + \" — \" + $json.body.prenom + \" \" + $json.body.nom + \" — \" + $json.body.adresse + \" — Total TTC: \" + $json.body.devis_total_ttc + \"€\", expiration_days: 30, is_sequential: true, callback_url: \"https://n8n.srv1591454.hstgr.cloud/webhook/zoho-sign-complete\" } }) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
      "name": "Zoho Sign - Create Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ \"https://sign.zoho.eu/api/v1/requests/\" + $json.requests.request_id + \"/actions/\" + $json.requests.actions[0].action_id + \"/embedtoken\" }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": {}
      },
      "id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
      "name": "Zoho Sign - Get Embed Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { embed_link: $json.embedtoken.embed_link, request_id: $('Zoho Sign - Create Request').item.json.requests.request_id } }}",
        "options": {}
      },
      "id": "d4e5f6a7-b8c9-0123-defa-234567890123",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [960, 300]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "zoho-sign-complete",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "e5f6a7b8-c9d0-1234-efab-345678901234",
      "name": "Webhook - Sign Complete",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 560],
      "webhookId": "e5f6a7b8-c9d0-1234-efab-345678901234"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://flow.zoho.eu/20115276691/flow/webhook/incoming?zapikey=1001.0357498613ad66f38eac5f7da439eaf6.19e9fad4d6cc446074c97203f552a1b7&isdebug=false",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ prenom: $json.body.requests.actions[0].recipient_name.split(' ')[0], nom: $json.body.requests.actions[0].recipient_name.split(' ').slice(1).join(' '), email: $json.body.requests.actions[0].recipient_email, devis_numero: $json.body.requests.request_name.replace('Devis ', ''), devis_signe: true }) }}",
        "options": {}
      },
      "id": "f6a7b8c9-d0e1-2345-fabc-456789012345",
      "name": "Zoho Flow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 560]
    }
  ],
  "connections": {
    "Webhook - Create Sign Request": {
      "main": [
        [
          {
            "node": "Zoho Sign - Create Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zoho Sign - Create Request": {
      "main": [
        [
          {
            "node": "Zoho Sign - Get Embed Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zoho Sign - Get Embed Token": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Sign Complete": {
      "main": [
        [
          {
            "node": "Zoho Flow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": ""
  },
  "tags": []
}
