n8n-workflow-docuseal-create-event.json
{
  "name": "Normandie Etancheite - Docuseal - Create Event",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "docuseal-completed",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234560011",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "a1b2c3d4-e5f6-7890-abcd-ef1234560011"
    },
    {
      "parameters": {
        "jsCode": "// Docuseal envoie l'evenement form.completed apres signature.\n// Les metadonnees du rendez-vous sont dans data.metadata.\nconst body = $json.body || $json;\nconst data = body.data || {};\nconst meta = data.metadata || {};\n\nif (!meta.date || !meta.heure) {\n  return [];\n}\n\nconst start = DateTime.fromISO(`${meta.date}T${meta.heure}`, { zone: 'Europe/Paris' });\nconst end = start.plus({ hours: 1 });\nconst zohoFmt = \"yyyyLLdd'T'HHmmssZZZ\";\n\nconst eventdata = JSON.stringify({\n  dateandtime: {\n    timezone: 'Europe/Paris',\n    start: start.toFormat(zohoFmt),\n    end: end.toFormat(zohoFmt),\n  },\n  title: `Devis - ${meta.devis_numero || ''} - ${meta.prenom || ''} ${meta.nom || ''}`.trim(),\n  location: meta.adresse || '',\n  description: `Client: ${meta.prenom || ''} ${meta.nom || ''}\\nTel: ${meta.telephone || ''}\\nEmail: ${meta.email || ''}\\nSurface: ${meta.surface_m2 || ''} m2\\nType: ${meta.type_toiture || ''}\\nDevis: ${meta.devis_total_ttc || ''} EUR`,\n  isallday: false,\n});\n\n// Rappel 45 min apres le debut = 15 min avant la fin du RDV d'1h\nconst reminderTime = start.plus({ minutes: 45 }).toISO();\n\nreturn [{ json: {\n  eventdata,\n  reminderTime,\n  prenom: meta.prenom || '',\n  nom: meta.nom || '',\n  adresse: meta.adresse || '',\n  telephone: meta.telephone || '',\n  devis_numero: meta.devis_numero || '',\n  heure: meta.heure || '',\n  date: meta.date || '',\n}}];"
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345670012",
      "name": "Parse Metadata",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://calendar.zoho.eu/api/v1/calendars/ed109954ae4442f99c8f9b47862b622c/events",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "eventdata",
              "value": "={{ $json.eventdata }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c3d4e5f6-a7b8-9012-cdef-123456780013",
      "name": "Zoho Calendar - Create Event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { success: true, eventCreated: true } }];"
      },
      "id": "d4e5f6a7-b8c9-0123-defa-234567890014",
      "name": "Respond",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [910, 300]
    },
    {
      "parameters": {
        "jsCode": "// Attend que reminderTime soit atteint (45 min apres debut = 15 min avant fin)\nconst { reminderTime, prenom, nom, adresse, telephone, devis_numero, heure, date } = $json;\nif (!reminderTime) return [];\nreturn [{ json: { reminderTime, prenom, nom, adresse, telephone, devis_numero, heure, date } }];"
      },
      "id": "e5f6a7b8-c9d0-1234-efab-345678901234",
      "name": "Prep Rappel",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [690, 480]
    },
    {
      "parameters": {
        "resume": "specificTime",
        "dateTime": "={{ $json.reminderTime }}"
      },
      "id": "f6a7b8c9-d0e1-2345-fabc-456789012345",
      "name": "Attente 15 min avant fin",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [910, 480],
      "webhookId": "f6a7b8c9-d0e1-2345-fabc-456789012345"
    },
    {
      "parameters": {
        "fromEmail": "contact@normandie-etancheite.com",
        "toEmail": "contact@normandie-etancheite.com",
        "subject": "=⏰ RDV se termine dans 15 min — {{ $json.prenom }} {{ $json.nom }}",
        "text": "=Bonjour,\n\nVotre expertise chez {{ $json.prenom }} {{ $json.nom }} se termine dans 15 minutes.\n\nAdresse : {{ $json.adresse }}\nTéléphone : {{ $json.telephone }}\nDevis : {{ $json.devis_numero }}\nHeure du RDV : {{ $json.heure }}\n\nPensez à conclure et à préparer votre prochain rendez-vous.\n\n— Normandie Étanchéité",
        "options": {}
      },
      "id": "a7b8c9d0-e1f2-3456-abcd-567890123456",
      "name": "Rappel artisan",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1130, 480],
      "credentials": {
        "smtp": {
          "id": "1",
          "name": "Zoho Mail SMTP"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Parse Metadata", "type": "main", "index": 0 }]]
    },
    "Parse Metadata": {
      "main": [
        [
          { "node": "Zoho Calendar - Create Event", "type": "main", "index": 0 },
          { "node": "Prep Rappel", "type": "main", "index": 0 }
        ]
      ]
    },
    "Zoho Calendar - Create Event": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    },
    "Prep Rappel": {
      "main": [[{ "node": "Attente 15 min avant fin", "type": "main", "index": 0 }]]
    },
    "Attente 15 min avant fin": {
      "main": [[{ "node": "Rappel artisan", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
