n8n-workflow-get-appointments.json
{
  "name": "Normandie Etancheite - Get Appointments",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "get-appointments",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "c3d4e5f6-a7b8-9012-cdef-123456789012"
    },
    {
      "parameters": {
        "jsCode": "const date = $json.query.date;\nconst clean = (date || '').replace(/-/g, '');\n\nreturn [{\n  json: {\n    range: JSON.stringify({\n      start: `${clean}T000000Z`,\n      end: `${clean}T235959Z`,\n    }),\n  },\n}];"
      },
      "id": "e5f6a7b8-c9d0-1234-efab-345678901234",
      "name": "Compute Date Range",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://calendar.zoho.eu/api/v1/calendars/ed109954ae4442f99c8f9b47862b622c/events",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "range",
              "value": "={{ $json.range }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f6a7b8c9-d0e1-2345-fabc-456789012345",
      "name": "Zoho Calendar - Get Events",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json;\nconst parsed = typeof body.data === 'string' ? JSON.parse(body.data) : body;\nconst events = parsed.events || [];\n\nconst appointments = [];\nfor (const ev of events) {\n  const start = ev.dateandtime && ev.dateandtime.start;\n  if (!start) continue;\n  const match = String(start).match(/T(\\d{2})(\\d{2})/);\n  if (!match) continue;\n  const appt = { heure: `${match[1]}:${match[2]}` };\n  if (ev.location) appt.adresse = ev.location;\n  appointments.push(appt);\n}\n\nreturn [{ json: { appointments } }];"
      },
      "id": "a7b8c9d0-e1f2-3456-abcd-567890123456",
      "name": "Format Appointments",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [910, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Compute Date Range",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Date Range": {
      "main": [
        [
          {
            "node": "Zoho Calendar - Get Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zoho Calendar - Get Events": {
      "main": [
        [
          {
            "node": "Format Appointments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
