n8n-workflow-get-appointments.json
{
  "name": "Normandie Etancheite - Get Appointments",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "get-appointments",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "c3d4e5f6-a7b8-9012-cdef-123456789012"
    },
    {
      "parameters": {
        "jsCode": "const date = $json.query.date;\nconst clean = (date || '').replace(/-/g, '');\n\nreturn [{\n  json: {\n    range: JSON.stringify({\n      start: `${clean}T000000Z`,\n      end: `${clean}T235959Z`,\n    }),\n  },\n}];"
      },
      "id": "e5f6a7b8-c9d0-1234-efab-345678901234",
      "name": "Compute Date Range",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://calendar.zoho.eu/api/v1/calendars/REMPLACER_PAR_UID_CALENDRIER/events",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "range",
              "value": "={{ $json.range }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f6a7b8c9-d0e1-2345-fabc-456789012345",
      "name": "Zoho Calendar - Get Events",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json;\nconst events = body.events || body.Events || [];\n\nfunction toLocalHeure(value) {\n  // Format attendu : yyyyMMddTHHmmssZ (UTC)\n  const match = String(value).match(/T(\\d{2})(\\d{2})/);\n  if (!match) return null;\n  let hour = parseInt(match[1], 10);\n  const minute = match[2];\n  hour = (hour + 2) % 24; // UTC -> heure de Paris (UTC+2 en ete)\n  return `${hour.toString().padStart(2, '0')}:${minute}`;\n}\n\nconst appointments = [];\nfor (const ev of events) {\n  if (ev.fbtype && String(ev.fbtype).toLowerCase() !== 'busy') continue;\n  const start = ev.startTime || ev.starttime || (ev.dateandtime && ev.dateandtime.start);\n  const heure = start ? toLocalHeure(start) : null;\n  if (heure) appointments.push({ heure });\n}\n\nreturn [{ json: { appointments } }];"
      },
      "id": "a7b8c9d0-e1f2-3456-abcd-567890123456",
      "name": "Format Appointments",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [910, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Compute Date Range",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Date Range": {
      "main": [
        [
          {
            "node": "Zoho Calendar - Get Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zoho Calendar - Get Events": {
      "main": [
        [
          {
            "node": "Format Appointments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
