n8n-workflow-docuseal-create.json
{
  "name": "Normandie Etancheite - Docuseal - Create",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "docuseal-create",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234560001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        300
      ],
      "webhookId": "a1b2c3d4-e5f6-7890-abcd-ef1234560001"
    },
    {
      "parameters": {
        "jsCode": "// Construit la soumission Docuseal a partir du MODELE reutilisable (free edition)\n// en pre-remplissant les champs du devis (mise en page \"vrai devis\").\nconst body = $json.body || $json;\n\n// ID du modele Docuseal\nconst TEMPLATE_ID = 1;\n\n// Format monetaire francais : \"5 000,00 €\"\nconst eur = (v) => {\n  const p = Number(v || 0).toFixed(2).split('.');\n  const i = p[0].replace(/\\B(?=(\\d{3})+(?!\\d))/g, ' ');\n  return i + ',' + p[1] + ' €';\n};\n\nconst ht = Number(body.devis_total_ht) || 0;\nconst ttc = Number(body.devis_total_ttc) || 0;\nconst tvaVal = Math.round((ttc - ht) * 100) / 100;\nconst dateEmission = DateTime.now().setZone('Europe/Paris').toFormat('dd/LL/yyyy');\n\nconst nomComplet = ((body.prenom || '') + ' ' + (body.nom || '')).trim();\n\n// POUR (client)\nconst client = [\n  body.societe || nomComplet,\n  body.societe ? nomComplet : '',\n  body.adresse || '',\n  body.telephone ? 'Tel. : ' + body.telephone : '',\n].filter(Boolean).join('\\n');\n\n// Lieu du chantier\nconst chantier = body.adresse || '';\n\n// Designation des ouvrages (cellule du tableau)\nconst designation = [\n  \"Expertise et diagnostic d'etancheite — toiture \" + (body.type_toiture || '') + ', ' + (body.surface_m2 || '') + ' m2',\n  'Intervention le ' + (body.date_formatee || '') + ' (' + (body.heure || '') + ')   Acces : ' + (body.accessibilite || ''),\n  body.etat_general ? 'Etat constate : ' + body.etat_general : '',\n  'Honoraires : ' + eur(body.devis_honoraires) + '    Deplacement ' + (body.devis_distance_km || 0) + ' km : ' + eur(body.devis_deplacement),\n  body.description || '',\n].filter(Boolean).join('\\n');\n\n// Email de demande de signature personnalise (concis).\n// {{submitter.link}} est remplace par Docuseal par le bouton/lien securise de signature.\nconst emailSubject = 'Votre devis à signer — Normandie Étanchéité';\nconst emailBody = [\n  'Bonjour ' + (body.prenom || '') + ',',\n  '',\n  'Votre devis est prêt.',\n  '',\n  'Examiner et signer : {{submitter.link}}',\n  '',\n  'Merci,',\n  'Normandie Étanchéité',\n].join('\\n');\n\n// Metadonnees transportees jusqu'au webhook form.completed (RDV calendrier)\nconst metadata = {\n  date: body.date || '',\n  heure: body.heure || '',\n  prenom: body.prenom || '',\n  nom: body.nom || '',\n  telephone: body.telephone || '',\n  email: body.email || '',\n  adresse: body.adresse || '',\n  surface_m2: String(body.surface_m2 || ''),\n  type_toiture: body.type_toiture || '',\n  devis_total_ttc: String(body.devis_total_ttc || ''),\n  devis_numero: body.devis_numero || '',\n};\n\nconst submissionData = {\n  template_id: TEMPLATE_ID,\n  send_email: true,\n  submitters: [\n    {\n      role: 'Client',\n      name: nomComplet,\n      email: body.email,\n      values: {\n        numero: body.devis_numero || '',\n        date: dateEmission,\n        client,\n        chantier,\n        designation,\n        montant_ht: eur(ht),\n        total_ht: eur(ht),\n        tva: eur(tvaVal),\n        total_ttc: eur(ttc),\n      },\n      message: {\n        subject: emailSubject,\n        body: emailBody,\n      },\n      metadata,\n    },\n  ],\n};\n\nreturn [{ json: { submissionData } }];\n"
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345670002",
      "name": "Build Submission",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        470,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://sign.srv1591454.hstgr.cloud/api/submissions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.submissionData) }}",
        "options": {}
      },
      "id": "c3d4e5f6-a7b8-9012-cdef-123456780003",
      "name": "Docuseal - Create Submission",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        690,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { success: true } }];"
      },
      "id": "f6a7b8c9-d0e1-2345-fabc-456789000006",
      "name": "Respond",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        910,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Build Submission",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Submission": {
      "main": [
        [
          {
            "node": "Docuseal - Create Submission",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Docuseal - Create Submission": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
