n8n-workflow-docuseal-create.json
{
  "name": "Normandie Etancheite - Docuseal - Create",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "docuseal-create",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234560001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "a1b2c3d4-e5f6-7890-abcd-ef1234560001"
    },
    {
      "parameters": {
        "jsCode": "// Recoit les donnees du devis envoyees par le site et construit la\n// soumission Docuseal a partir du MODELE reutilisable, en pre-remplissant\n// les champs (numero, client, intervention, description, prix).\nconst body = $json.body || $json;\n\n// >>>>>> REMPLACE 0 PAR L'ID DE TON MODELE DOCUSEAL <<<<<<\nconst TEMPLATE_ID = 0;\n\nconst n = (v) => Number(v || 0).toFixed(2);\nconst tva = Math.round((Number(body.devis_total_ttc) - Number(body.devis_total_ht)) * 100) / 100;\n\nconst client = [\n  `${body.prenom || ''} ${body.nom || ''}`.trim(),\n  body.societe || '',\n  `Tel : ${body.telephone || ''}`,\n  `Email : ${body.email || ''}`,\n  body.adresse || '',\n].filter(Boolean).join('\\n');\n\nconst intervention = [\n  body.date_formatee || '',\n  `Creneau : ${body.heure || ''}`,\n  `Surface : ${body.surface_m2 || ''} m2  -  ${body.type_toiture || ''}`,\n  `Etat : ${body.etat_general || ''}`,\n  `Acces : ${body.accessibilite || ''}`,\n].filter(Boolean).join('\\n');\n\nconst prix = [\n  `Honoraires : ${n(body.devis_honoraires)} EUR`,\n  `Deplacement (${body.devis_distance_km || 0} km) : ${n(body.devis_deplacement)} EUR`,\n  `Total HT : ${n(body.devis_total_ht)} EUR`,\n  `TVA 20% : ${tva.toFixed(2)} EUR`,\n  `TOTAL TTC : ${n(body.devis_total_ttc)} EUR`,\n].join('\\n');\n\n// Metadonnees transportees jusqu'au webhook form.completed (creation du RDV calendrier)\nconst metadata = {\n  date: body.date || '',\n  heure: body.heure || '',\n  prenom: body.prenom || '',\n  nom: body.nom || '',\n  telephone: body.telephone || '',\n  email: body.email || '',\n  adresse: body.adresse || '',\n  surface_m2: String(body.surface_m2 || ''),\n  type_toiture: body.type_toiture || '',\n  devis_total_ttc: String(body.devis_total_ttc || ''),\n  devis_numero: body.devis_numero || '',\n};\n\nconst submissionData = {\n  template_id: TEMPLATE_ID,\n  send_email: true,\n  submitters: [\n    {\n      role: 'Client',\n      name: `${body.prenom || ''} ${body.nom || ''}`.trim(),\n      email: body.email,\n      values: {\n        numero: body.devis_numero || '',\n        client,\n        intervention,\n        description: body.description || '',\n        prix,\n      },\n      metadata,\n    },\n  ],\n};\n\nreturn [{ json: { submissionData } }];"
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345670002",
      "name": "Build Submission",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://sign.srv1591454.hstgr.cloud/api/submissions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.submissionData) }}",
        "options": {}
      },
      "id": "c3d4e5f6-a7b8-9012-cdef-123456780003",
      "name": "Docuseal - Create Submission",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { success: true } }];"
      },
      "id": "f6a7b8c9-d0e1-2345-fabc-456789000006",
      "name": "Respond",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [910, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Build Submission", "type": "main", "index": 0 }]]
    },
    "Build Submission": {
      "main": [[{ "node": "Docuseal - Create Submission", "type": "main", "index": 0 }]]
    },
    "Docuseal - Create Submission": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
